<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--开启IOC的注解包扫描-->
    <context:component-scan base-package="com.bewind"></context:component-scan>
    <!--开启mvc注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--配置内置的视图解析器（解析jsp）-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置视图前缀：  会去/WEB-INF/pages/找资源，找后缀为.jsp的资源-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 设置静态资源不过滤 -->
    <mvc:default-servlet-handler/>
    <!--导入spring.xml 【注意】 导入配置文件名的拼写是否正确-->
    <import resource="classpath:spring-service.xml"/>

</beans>